<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8">
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"
	      type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"
	      type="text/css">
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
	      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
	      crossorigin="anonymous">
	<link rel="stylesheet" href="assets/github.css" type="text/css">
	<link rel="stylesheet" href="assets/custom.css" type="text/css">
</head>
