---
layout: default
---

<div class="row">
	<div class="col">
		<p class="lead">{{ site.description }}</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<hr>
		<p>This site tests whether it is a suitable replacement for HISCOM's Mediawiki
			instance.
			A suitable replacement would include the following features:</p>
		<ul>
			<li>Markdown (and optionally Asciidoc) source files for pages</li>
			<li>Automatic update of the website from the Github source</li>
			<li>Direct editing of source files in Github</li>
			<li>Site search</li>
			<li>Look nicer than Mediawiki</li>
			<li>Site design would cleanly separate work-in-progress from published, final,
				documents for public use.
			</li>
		</ul>
		<hr class="mb-5">
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="card text-white bg-success mb-3">
			<div class="card-body">
				<h4 class="card-title">HISPID 6 Vocabulary</h4>
				<p class="card-text">The set of terms in the HISPID 6 vocabulary,
					based on Darwin Core. This vocabulary suprsedes all previous
					versions of HISPID.</p>
				<a href="/hispid/terms/" class="btn btn-dark">Go</a>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card text-white bg-success mb-3">
			<div class="card-body">
				<h4 class="card-title">Main Wiki site</h4>
				<p class="card-text">HISCOM manages its work-in-progress documents
					in a Mediawiki instance hosted by Royal Botanic Gardens, Victoria,
					Australia.</p>
				<a href="https://hiscom.rbg.vic.gov.au/"
				   class="btn btn-dark">Go</a>
			</div>
		</div>
	</div>
</div>
